.DS_Store
src/BackgroundGeolocationPlugin/.idea/
src/BackgroundGeolocationPlugin/app/src/main/
src/BackgroundGeolocationPlugin/gradlew
src/android/.idea/
src/android/
src/BackgroundGeolocationPlugin/gradlew.bat
src/BackgroundGeolocationPlugin/gradle/wrapper/gradle-wrapper.properties
src/BackgroundGeolocationPlugin/gradle.properties
src/BackgroundGeolocationPlugin/build.gradle
src/BackgroundGeolocationPlugin/app/
.project
